<div *ngFor="let obj of Functionality">
                        <div *ngFor="let key of getKeys(obj)">
                            <!-- <h3 class="headline">{{ key }}</h3>
                            <div *ngFor="let item of getObjectValues(obj[key])">
                                <div>{{ item[0] }}: {{ item[1] }}</div>
                            </div> -->
                            <mat-card>
                                <mat-card-content><span style="font-weight: bolder;color: blue;">{{key}} </span>
                                    <div *ngFor="let item of getObjectValues(obj[key])">
                                        <div>{{ item[0] }}</div>
                                    </div> 
                                </mat-card-content>
                              </mat-card>
                        </div>
                    </div>
